*
!/**/
!*.*
!LICENSE
CMakeFiles
bin
*.swp
*.a
CMakeCache.txt
build/
htslib-*/
igraph-*/
libleidenalg-*/
built_libs/
sparsehash-sparsehash-*/
cmake_install.cmake
__pycache__
!surveyor
.local.vimrc
compile_commands.json
